span.email {}

span.email:after {
  content: "ic.ac.uk";
}

span.email:before {
  content: "m.paviotti";
}

span.email {
  display: inline;
}

span.note {
  font-size: x-small;
  font-style: italic;
  
  padding-right: 2ex;
}

span.email2 {}

span.email2:after {
  content: "imperial.ac.uk";
}

span.email2:before {
  content: "m.paviotti";
}

span.email2 {
  display: inline;
}



